.rainbow-bar {
    width: 100%;
    height: 25px;
    background: linear-gradient(
            135deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 12%,
            rgba(208, 222, 33, 1) 24%,
            rgba(79, 220, 74, 1) 36%,
            rgba(63, 218, 216, 1) 48%,
            rgba(47, 201, 226, 1) 60%,
            rgba(28, 127, 238, 1) 72%,
            rgba(95, 21, 242, 1) 84%,
            rgba(186, 12, 248, 1) 100%
    );
}