#homePage{
  section{
    display: flex;
    box-sizing: border-box;
    padding: 2rem 0;
  }
  #presentation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
    padding: 0;

    div#profileImage{
      width: 100%;
      max-width: 400px;
      margin-right: 60px;
    }

    article{
      width: 100%;
      max-width: 500px;

      #presentationLinks {
        margin-top: .8rem;
        display: flex;
        a {
          + a{
            margin-left: .4rem;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 40px;
          height: 40px;
          border: 1px solid var(--c-text);
          color: var(--c-text);
          background-color: #fff;
          border-radius: 50%;
          transition-property: background, color;
          transition-duration: 200ms;
          transition-timing-function: ease-out;

          &:hover {
            color: #fff;
            background-color: var(--c-text);
          }
        }
      }
    }
  }

  #experience{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin: auto;

    h2 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 24px;
      font-size: calc(var(--font-size) * var(--font-scale-xxl));
    }

    > ul{
      list-style-type: none;
      width: 100%;
      max-width: 500px;
      border-top: 1px solid #0d0d0d;

      > li{
        margin-bottom: 2rem;
        padding-top: 32px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h3{
          font-size: calc(var(--font-size) * var(--font-scale-xl));
          margin-bottom: .2rem;
          text-align: center;
          flex-basis: 100%;
        }

        h4{
          text-align: center;
          + h4{
            margin-left: .4rem;
          }
          font-size: calc(var(--font-size) * var(--font-scale-s));
          line-height: .8rem;
          display: inline-block;
          text-align: center;
          border: 1px solid var(--c-text);
          color: var(--c-text);
          background-color: #fff;

          &.dark{
            background-color: var(--c-text);
            color: #fff;
          }
          border-radius: 9999990px;
          padding: calc(.05rem - 1px) 0.5rem;
        }

        p{
          align-self: flex-start;
          margin: .6rem auto .2rem 0;
        }

        ul{
          align-self: flex-start;
          margin-right: auto;
          padding-left: 1.5rem;

          strong{
            font-weight: 600;
          }
        }
      }
    }
  }

  #education{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin: auto;

    h2 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 24px;
      font-size: calc(var(--font-size) * var(--font-scale-xxl));
    }

    > ul{
      list-style-type: none;
      width: 100%;
      max-width: 500px;
      border-top: 1px solid #0d0d0d;

      > li{
        margin-bottom: 24px;
        padding-top: 32px;

        h3{
          font-size: calc(var(--font-size) * var(--font-scale-xl));
          margin-bottom: .2rem;
        }

        h4, a{
          + h4, a{
            margin-left: .4rem;
          }
          text-decoration: none;
          font-size: calc(var(--font-size) * var(--font-scale-s));
          line-height: .8rem;
          display: inline-block;
          text-align: center;
          border: 1px solid var(--c-text);
          color: var(--c-text);
          background-color: #fff;
          border-radius: 9999990px;
          padding: calc(.05rem - 1px) 0.5rem;


          &.dark{
            background-color: var(--c-text);
            color: #fff;
          }
        }
      }
    }
  }

  #skills{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;

    h2 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 24px;
      font-size: calc(var(--font-size) * var(--font-scale-xxl));
    }

    > ul{
      border-top: 1px solid #0d0d0d;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: .8rem;
      list-style-type: none;
      > li{
        height: auto !important;
        margin-bottom: 24px;
        padding-top: 32px;
        &:nth-child(2){
          grid-row: 5;
          grid-column: 1/3;
        }

        h3{
          font-size: calc(var(--font-size) * var(--font-scale-xl));
          margin-bottom: .2rem;
        }

        > ul{
          margin-top: 16px;
          list-style-type: none;
          li{
            + li{
              margin-top: 8px;
            }
            h4{
              font-size: calc(var(--font-size) * var(--font-scale-m));
              line-height: .8rem;
            }

            .progress{
              width: 100%;
              height: 8px;
              box-sizing: content-box;
              .progress-bar{
                max-width: 100%;
                height: 8px;
                background-color: var(--c-text);
              }
            }
          }
        }
      }
    }
  }

  #contactForm{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    h2{
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 24px;
      font-size: calc(var(--font-size) * var(--font-scale-xxl));
    }
    form{
      border-top: 1px solid #0d0d0d;
      width: 100%;
      padding-top: 32px;
      display: flex;
      flex-wrap: wrap;
      max-width: 700px;
      textarea{
        resize: vertical;
        min-height: 140px;
      }
      input[type=text], input[type=email], textarea{
        width: 100%;
        font-size: calc(var(--font-size) * var(--font-scale-xl));
        padding-bottom: .4rem;
        transition-property: background, color;
        transition-duration: 200ms;
        transition-timing-function: ease-out;

        &:focus{
          border-bottom: 1px solid var(--c-text);
        }

        + input[type=text], + input[type=email], + textarea{
          margin-top: 1.6rem;
        }
      }

      .button{
        margin-top: 1.4rem;
        margin-left: auto;
        border-radius: 0;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #homePage{
    section{
      padding: 1.5rem 0;
    }
    #presentation{
      img{
        margin-right: 0;
        margin-bottom: 24px;
      }

      #presentationLinks{
        display: flex;
        justify-content: center;
      }
    }

    #experience{
      > ul > li  ul{
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
      }
    }

    #skills{
      > ul{
        grid-template-columns: repeat(1, 1fr);
        gap: .4rem;

        li:nth-child(2){
          grid-row: auto;
          grid-column: 1;
        }
      }
    }
  }
}
